header {
    display: flex;
    align-items: center;
    
    background-color: var(--brand-green-light);
    height: 7.2rem;
}

.container {
    padding: 0 12.3rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    
    width: 33.33%;

    color: var(--brand-green);

    user-select: none;
    cursor: pointer;
}

.navbar-item {
    opacity: 0.6;
}

.navbar-item:hover {
    opacity: 1;
}

/* Fim do header */

.hero {
    display: flex;
    background-color: var(--brand-green-light);

    height: 67.8rem;
    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 58.33%;
    padding: 12rem 0 20rem;
}

.text-heat {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.1rem;
    text-align: left;   
    color: var(--brand-green);

    width: 25.4rem;
    height: 2.1rem;
}

.text-title-h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.76rem;
    text-align: left;
    color: var(--gray-headline-2);

    width: 60.5rem;
    height: 13.6rem;
}

.text-title {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.76rem;
    text-align: left;

    width: 60.5rem;
    height: 13.6rem;
}

.text-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;

    width: 59.4rem;
    height: 5.4rem;

    color: var(--gray-paragraph);
}

.div-block-image {
    width: 41.66%;
}

.image-1 {
    height: 63.3rem;
    width: auto;
}

/* Fim da section Hero */

.div-block {
    position: relative;

    display: flex;
    justify-content: center;
}

.div-block-numbers {
    background-color: var(--brand-beige);
    
    position: absolute;
    z-index: 1;
    top: -10.5rem;
    
    height: 21rem;
    width: calc(100% - 24.6rem);

    display: flex;
}

.h3-numbers {
    display: flex;
    justify-content: center;

    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6.2rem;

    width: auto;
}

.title__rapagraph__numbers:nth-child(2) {
    border-right: 0.1rem solid rgba(0,133,111, .5);
    border-left: 0.1rem solid rgba(0,133,111, .5);  
}

.div-block-numbers__itens {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.title__rapagraph__numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 33.33%;
}

.paragraph-numbers {
    display: flex;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;

    width: auto;

    color: var(--brand-green);
}

/* Fim da tabela de números */

.services {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    
    height: 77.2rem;
    padding-top: 26.3rem;
    padding-bottom: 16rem;
    background-color: var(--brand-green-light-02);
}

.div-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.heat-service {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--brand-green);

    width: 25.4rem;
}

.title-service {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    text-align: center;

    width: 62.5rem;
}

.div-block-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 4rem;
    justify-content: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-self: center;
    
    width: 34.7rem;
    height: 20.7rem;
    padding: 2.4rem;
    background-color: var(--white);

    border: 0.1rem solid var(--brand-green-light);
    border-radius: 0.6rem;
}

.cards-item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.cards-img {
    width: 2.4rem;
    height: 2.4rem;
}

.cards-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.1rem;
    color: var(--gray-headline-2);
}

.cards-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--gray-paragraph);
}

/* Fim da section service */

.about {
    display: flex;

    height: 43rem;
    padding-top: 16rem;
    padding-bottom: 16rem;
    gap: 6.7rem;
    justify-content: center;

    background-color: var(--brand-beige);
}

.div-about-img {
    width: 48rem;
    height: 41.4rem;
    
    border-radius: 2rem;
}

.div-about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heat-about {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.1rem;
    text-align: left;
    color: var(--brand-green);
}

.title-about {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    text-align: left;

    width: 43rem;
    margin-bottom: 1.4rem;
    color: var(--gray-headline-2);
}

.text-about {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--gray-paragraph);

    width: 573px;
}

/* Fim da section about */

.contact {
    display: flex;
    justify-content: space-between;

    background-color: var(--white);   
    
    height: 38rem;
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.div-block-contact {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.div-block-text-contact {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.title-contact {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    text-align: left;

    width: 42rem;
    color: var(--gray-headline-2);
}

.img-paragraph-contact{
    display: flex;
    gap: 0.8rem;
}

.icon-email-contact{
    width: 2.4rem;
    height: 2.4rem;
}

.text-contact {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
}

/* Fim da section contact */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--brand-green);
    
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.logo_footer {
    margin-bottom: 0.9rem;
}

.div-block__footer___copyright {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.paragraph_footer {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: left;
    color: var(--brand-beige);
}

.div-block__footer___icon {
    display: flex;
    gap: 3.4rem;
}

.icon-footer {
    height: 24px;
    width: 24px;
}

/* Fim do footer */

@media(min-width: 420px) {
    .navbar-menu {
        display: none;
    }
}

@media(max-width: 420px) {            
    .container {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .navbar-list {
        display: none;
    }

    .button-primary {
        display: none;
        margin-bottom: 6.1rem;
    }

    .text {
        align-items: center;
        width: 100%;

        padding-top: 4rem;
        padding-bottom: 6.1rem;
    }

    .text-heat {
        width: auto;
        height: auto;
        margin-bottom: 1.6rem;

        text-align: center;
    }

    .text-title-h1 {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 4.4rem;
        text-align: center;
        margin-bottom: 2.4rem;

        width: auto;
        height: auto;
    }

    .text-subtitle {
        width: auto;
        height: auto;
        margin-bottom: 3.2rem;

        text-align: center;
    }
    
    /* Fim do header mobile */

    .hero {
        flex-direction: column;
        height: 108rem;
    }

    .div-block-image {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .image-1 {
        height: 34.0rem;
        width: 26.1rem;
    }

    .div-block-numbers {
        border: solid 0.1rem var(--brand-green-light);
        border-radius: 0.6rem;
        top: -25.3rem;
        height: 50.6rem;
        width: 32.7rem;
    }

    .table-itens {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-block-numbers__itens {
        flex-direction: column;
        justify-content: space-around;
    }

    .title__rapagraph__numbers {
        width: 100%;
    }

    .h3-numbers {
        width: 100%;
    }

    .paragraph-numbers {
        width: 100%;
    }

    .title__rapagraph__numbers:nth-child(2) {
        border: none;
    }

    /* fim da div numbers */

    .services {
        height: auto;
        padding-top: 31.8rem;
        padding-bottom: 10rem;
    }

    .title-service {
        font-size: 3rem;
        line-height: 3.9rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: auto;
    }

    /* Fim da section services */

    .div-block-cards {
        grid-template-columns:  auto;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .cards {
        width: auto;
    }

    /* Fim da div-block cards */

    .about {
        flex-direction: column-reverse;
        padding-top: 10rem;
        padding-bottom: 10rem;

        height: auto;
    }

    .heat-about {
        margin-bottom: 0.6rem;
    }

    .div-about-img {
        width: auto;
        height: auto;
    }

    .image-2 {
        width: 100%;
    }

    .title-about {
        width: auto;
    }

    .text-about {
        width: auto;
    }

    .contact {
        padding-top: 10rem;
        padding-bottom: 10rem;
        flex-direction: column;
        height: auto;
        gap: 6rem;

    }

    .contact-img {
        width: 100%;
    }

    /* Fim da section contato */

    .footer {
        padding-top: 6rem;
        padding-bottom: 6rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.2rem;
    }
}